<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.immohanravi.multiimageselector">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <activity android:name=".activities.GalleryActivity"></activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name=".activities.OpenGallery"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
    </application>
</manifest>